{% extends 'layouts/basic.html' %}

{% block title %}Author Detail{% endblock %}

{% block content %}

    <p>Автор</p>
    <p> Имя: {{ author.name }} </p>
    <p> Фамилия: {{ author.last_name }} </p>
    <p> Дата рождения - {{ author.date_of_birth }} </p>
    <p>PK: {{author.pk}}</p>
    <p>Книги:</p>
    {% for i in books %}
        <p>{{ i.title }}</p>
        <p>{{ i.info }}</p>
        <p>{{ i.price }}</p>
        <p>{{ i.release_date }}</p>
    {% endfor %}
    <p>Курсы</p>
    {% for i in courses %}
        <p>{{ i.title }}</p>
    {% endfor %}

{% endblock %}